/* #6DCCDF blue code */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
body{
    background-color: #6DCCDF;
}

.navbar1{
    background-color: #6DCCDF ;

}
.navbar-brand{
    color: white;
    font-family: anton;
    font-size: x-large;
    
    letter-spacing: 3px;
}

.link1{
    font-family: anton;
    font-size: medium;
    color: white;
    letter-spacing: 2px;
    
}

.donate{
    border:white 2px solid;
    border-radius: 5px;
}
.donate:hover{
    border-color: black;
}



.heading{
    font-family: anton;
    
    color: black;
}

.row1{
    background-image: url("coverpic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn1{
    background-color: #6DCCDF !important;
}

.btn2{
    background-color: white;
}

.br1{
    color: #6DCCDF;
    border: 2px solid #6DCCDF;    
}

.heading2{
    font-family: anton;
    color: white;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.hdn{
    font-family: anton;
    border-bottom: 2px dotted white;
    border-top: 2px dotted white;
    background-color: white;
}

.hdn2{
    font-family: anton;
    background-color: #6DCCDF;
}

.row2{
    border-bottom: 5px dotted white;
    border-top: 5px dotted white;
}

.donatetxt{
    font-family: anton;
    
}

.row3{
    
    background-position: center;
}
.con1{
    border-bottom: 5px dotted white;

}



.curveBorder{
    border-radius: 5px;

}
.txt2{
    border-bottom: 5px dotted white;
}
.card11{
    border-bottom: 5px dotted white !important;
}
.icons{
    color: white  !important;
    
}
.footer12{
    color: white;
}

.col2{
    background-color: white;
}

.roboto1{
    font-family: Roboto;
}

.border2{
    border: 2px dotted black;
}